*{
  outline: none;
  font-family: $font1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  &:after, &:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
body{
  font-family: $font1;
  position: relative;
}

.container{
  //min-width: 1147px;
  min-width: 800px;
  padding: 0 70px;
  position: relative;
  height: 100%;
  max-width: 1150px;
  margin: 0 auto;
}



